<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Die Kamera wird benötigt, um Fotos für Playlists aufzunehmen.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ie Fotobibliothek wird benötigt, um Fotos für Playlists auszuwählen.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ITCKRIST.TTF</string>
	</array>
</dict>
</plist>
